API_URL=""
API_KEY=your_api_key
INFURA_URL=wss://mainnet.infura.io/ws/v3/your_infura_key
MONGODB_URL="mongodb://localhost:27017/greenshouse"
HTTP_PORT=8080
HTTPS_PORT=8443
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_KEY=your_cloudinary_key
CLOUDINARY_SECRET=your_cloudinary_secret
LIMIT_GREENHOUSES=20
LIMIT_PRODUCTS=3000
LIMIT_GREENHOUSECAGES=100
LIMIT_BEDS=200
LIMIT_VEGETABLE=100
EMAIL_NAME=your_email@example.com
EMAIL_APP_PASSWORD=your_app_password
JWT_SECRET=your_jwt_secret
NODE_ENV=development
GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-2.5-flash
